/* width */
::-webkit-scrollbar {
    width: 20px;
    height: 20px;
    border-width: 5px;
    background-color: #1E2023;
}

/* Track */
::-webkit-scrollbar-track {
    background: #1E2023;
    /*background-transparent;*/
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #26272c;
    /*border-radius: 5px;*/
    border-color: #1E2023;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
}

::-webkit-scrollbar-track-piece {
    background-color: #1E2023;
}

::-webkit-scrollbar-corner {
    background: #1E2023;
}

/*div#red-ui-palette-container:hover::-webkit-scrollbar-thumb {*/
/*    background: #fff;*/
/*}*/

/*div#red-ui-workspace-chart:hover::-webkit-scrollbar-thumb {*/
/*    background: #fff;*/
/*}*/

.red-ui-workspace-chart {
    background: #26272c;
}

.ace-tomorrow {
    background-color: #26272c;
    color: #4D4D4C;
}

.red-ui-flow-node {
    stroke: #ddd;
    stroke-width: 1;
    opacity: 0.85;
}

.red-ui-palette-node {
    stroke: #ddd;
    stroke-width: 1;
    background: #26272c;
    border-radius: 5px;
    border: 1px solid #999;
    background-position: 5% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 2px auto;
    opacity: 0.75;
}

#red-ui-palette {
    background: #1e2023;
    border: 0px;
    box-sizing: border-box;
}

#red-ui-workspace {
    border: 0px;
    box-sizing: border-box
}

.red-ui-palette-search {
    background: #1e2023;
    border-bottom: 0px;
    box-sizing: border-box
}

.red-ui-searchBox-container input.red-ui-searchBox-input {
    background: #1e2023;
    border-radius: 0;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    box-sizing: border-box;
}

.red-ui-tab-button {
    box-sizing: border-box;
    background: #1e2023;
    border-bottom: 0px;
    padding-right: 20px;
}

.red-ui-tabs ul {
    box-sizing: border-box;
    border-bottom: 0px;
}

.red-ui-tabs.red-ui-tabs-add.red-ui-tabs-search .red-ui-tab-scroll-right {
    right: 0px;
}

.red-ui-tab-link-buttons {
    box-sizing: border-box;
    background: #1e2023;
    border-bottom: 0px;
}

#red-ui-sidebar {
    background: #1e2023;
    box-sizing: border-box;
    border: 0px;
    box-sizing: border-box;
}

.red-ui-palette-category {
    border-bottom: 0px;
}

.red-ui-component-footer {
    border-top: 0px;
    background: #1e2023;
}